<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="section-heading">Log In</h1>
        <form action="/accounts/login" method="post">
          <input class="form-control" type="email" name="email" value="" placeholder="Your Email">
          <input class="form-control" type="password" name="password" value="" placeholder="Your Password">
          <input class="btn btn-success form-control" type="submit" value="LOG IN">
        </form>
      </div>
      <div class="col-lg-6">
        <h1 class="section-heading">Register</h1>
        <form action="/accounts/create" method="post">
          <input class="form-control" type="text" name="username" value="" placeholder="Your Name">
          <input class="form-control" type="email" name="email" value="" placeholder="Your Email">
          <input class="form-control" type="password" name="password" value="" placeholder="Create Password">
          <input class="form-control" type="password" name="password_conf" value="" placeholder="Re-Enter Password">
          <input class="btn btn-success form-control" type="submit" value="SIGN UP">
        </form>
      </div>
    </div>
  </div>
</section>
