<br>
<br>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
        <div class="col-lg-10 footer">
          <p>&copy; WeatherCompanion Inc. 2016</p>
        </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</footer>
