<br>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <form class="" action="/weather" method="post">
          <input type="text" placeholder="Enter city or zip code" value="">
      </div>
      <div class="col-lg-10">
          <input class="btn btn-danger form-control" type="submit" value="SUBMIT">
        </form>
      </div>
    </div>
  </div>
</section>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form action="/accounts" method="get">
                  <input class="btn btn-danger form-control" type="submit" value="LOG IN">
                </form>
            </div>
            <div class="col-lg-6">
                <form action="/accounts" method="get">
                  <input class="btn btn-danger form-control" type="submit" value="SIGN UP">
                </form>
            </div>
        </div>
    </div>
</section>
