<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form action="/account/login" method="post">
                  <input class="btn btn-success form-control" type="submit" value="LOG IN">
                </form>
            </div>
            <div class="col-lg-6">
                <form action="/account/create" method="post">
                  <input class="btn btn-success form-control" type="submit" value="SIGN UP">
                </form>
            </div>
        </div>
    </div>
</section>
