<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Weather Companion</title>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="page-header">
              <h1>Weather Buddy  <small>Don't get caught in the rain</small></h1>
            </div>
          </div>
        <div class="col-lg-1"></div>
      </div>
    </div>

    <%= yield %>

    <%= erb :footer %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" media="screen" title="no title" charset="utf-8">
  </body>
</html>
