<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Companion</title>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <div class="page-header">
              <h1>Weather Buddy  <small>Don't get caught in the rain</small></h1>
            </div>
          </div>
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
      </div>
      <% if $message != "" %>
        <div class="row">
          <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
          <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 message">
            <p><%= $message %></p>
            <% $message = '' %>
          </div>
          <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
        </div>
      <% end %>

    <%= yield %>

    <%= erb :footer %>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" media="screen" title="no title" charset="utf-8">
  </body>
</html>
